@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight:400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	max-width: 1168px;
	margin: 0 auto;
	padding: 16px;
}
/*popup*/
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	width: 300px;
	background: rgba(247,249,150,1);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	z-index:3;
}


/* header */
.topheader {
	background: #fff;
	color: black;
	height:220px;
	box-sizing:border-box;
}
.topheader .container{
	height:inherit;
	box-sizing:border-box;
}
.logo{
	max-width:300px;
}
.logo {
	max-width:150px;
	height:150px;
	border:3px solid #fff;
	border-radius:50%;
	margin-left:50px;
}
.logoname{
	margin-left:57px;
	font-weight:700;
	color:rgb(112,171,151);
	letter-spacing: 3px;
}
.basket {
	float: right;
	margin: 30px 0 30px 30px;
	border: 1px solid rgb(112,171,151);
	background:rgba(247,249,150,0.6);
	border-radius:2px;
	line-height: 40px;
	width:100px;
}
.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}
.mainheader {
	background: rgba(247,249,150,0.6); 
	height: 120px;
	padding:10px 0;
}
.topmenu a{
	text-decoration: none;
	color:black;
}
.topmenu{
	/*display:flex;
	flex-wrap:wrap;
	justify-content:space-around;*/
	text-align:center;
	width:inherit;
	padding:40px 16px;
	z-index:2;
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width:120px;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	background: rgba(247,249,150,1);
	border-radius:5px;
	z-index:2;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover .line-point {
	color:gray;
}
.pulldown-point:hover {
	color: #000;
}
.bottomheader {
	background: #f93c00;
}

/* main */
main {
	position:relative;
	background: #fff;
}
.d-block w-100{
	width:100%;
	height:100%;
}
/* footer */
footer {
	background: rgb(112,171,151);
	color: #fff;
	height:auto;
}
.shopname{
	text-align:center;
	color:rgba(247,249,150,1);
	font-weight:bold;
	letter-spacing: 3px;
}
.footerinfo{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin-top:30px;
}
.subscription{
	position:relative !important;
	height:36px !important;
}
.subscription div{
	box-sizing:content-box;
}
.subscription input{
	height:36px ;
	border:none;
}
.subscription button{
	position:absolute ;
	width:36px ;
	height:36px ;
	border:none;
	border-radius:2px;
	background:rgba(247,249,150,0.6);
}
.footermenupoint{
	display:flex;
	flex-direction:column;
}
.footermenupoint>a{
	text-decoration:none;
	color:inherit;
}
.footermenupoint :hover{
	color:rgba(247,249,150,0.6);
}
.instagram:after{
	content:url('images/icon_insta.svg');
}
/* catalog */
.catalog{
	display: flex;
	gap: 8px;

}
.cat_unit{
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}
.cat_part{
	height: 200px;
	width: 200px;
	background: pink;
}
.cat_img{
	object-fit: cover;
	height: 200px;
	width: 200px;
}
/*aside*/
aside{
	flex:none;
	width: 300px;
	background:rgba(247,249,150,0.6);
}
.catmenu {
	padding: 16px;
}
.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
}
.catmenu_item:before {
	content: '=>';
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: rgb(112,171,151);
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	content: '->';
	position: absolute;
	left: 0;
}
