@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
html{
	height:100%;
}
body{
	height:100%;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight:400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1168px;
	margin: 0 auto;
	padding: 16px;
}
/*popup*/
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 200px;
	width: 300px;
	background: rgba(247,249,150,1);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
	z-index:3;
}
.gorod p {
	text-align: center;
	margin-bottom: 10px;
}
.gorod button {
	display:inline-block;
	border: none;
	color: white;
	width: calc(50% - 10px);
}
.gorod button:first-of-type {
	background: rgb(112,171,151);
	margin: 0 10px 0 0;
}
.gorod button:last-of-type {
	background:rgb(112,171,151);
	margin: 0 0 0 30px;
}
.popup.lightbox{
	background: white;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: black;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}
.popup-header{
	color:rgb(112,171,151);
	text-transform:uppercase;
	text-align:center;
}
[name="fullname"],[name="password"]{
	margin: 0 15px 15px;
	height:40px;
}
.register{
	margin:0 15px 15px 19px;
	text-decoration:none;
	text-transform:uppercase;
	color:black;
}
.popup button{
	margin: 0 15px 15px;
	background:rgb(112,171,151);
	border:none;
	width:100px;
	height:40px;
	border-radius:2px;
}
/*preheader*/
.preheader{
	justify-content:space-between;
	padding: 20px 32px;
	box-sizing:border-box;
	height:45px;
	background:rgb(112,171,151);
	align-items: center;
    display: flex;
}
#yourcity p{
	margin:0;
	cursor:pointer;
}
.socinfo a{
	text-decoration:none;
}
.insta, .vk, .facebook{
	height:30px;
	width:30px;
	cursor:pointer;
}
.bask{
	width:30px;
	height:30px;
	background:white;
	border-radius:50%;
	border:2px solid #fff;
}
/* header */
header{
	flex:none;
	height:100%;
}
.topheader {
	background: #fff;
	color: black;
	box-sizing:border-box;

}
.topheader .container{
	flex-direction: row;
    justify-content: space-around;
    display: flex;
    align-items: center;
	box-sizing:border-box;
}
.logo {
	float:left;
	width:150px;
	height:150px;
	border:3px solid #fff;
	border-radius:50%;
}
.logoname{
	font-size: 24px;
	font-weight:700;
	color:rgb(112,171,151);
	letter-spacing: 3px;
}
.login{
	float: right;
	border: 1px solid rgb(112,171,151);
	background:rgba(247,249,150,0.6);
	border-radius:2px;
	line-height: 40px;
	width:100px;
	display:inline-block
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}
.mainheader {
	background: rgba(247,249,150,0.6); 
	height: 120px;
	padding:10px 0;
}
.topmenu a{
	text-decoration: none;
	color:black;
}
.topmenu{
	/*display:flex;
	flex-wrap:wrap;
	justify-content:space-around;*/
	text-align:center;
	width:inherit;
	padding:40px 16px;
	z-index:2;
}
.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
.menupoint > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	width:120px;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0,0,0,.4);
	background: rgba(247,249,150,1);
	border-radius:5px;
	z-index:2;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover .line-point {
	color:gray;
}
.pulldown-point:hover {
	color: gray;
}
.bottomheader {
	background: #f93c00;
}

/* main */
main {
	flex:1 0 auto;
	position:relative;
	background: #fff;
}
.d-block w-100{
	width:602px;
	height:300px;
}
/* footer */
footer {
	flex:none;
	background: rgb(112,171,151);
	color: #fff;
	height:auto;
}
.contacts .address,.mail,.tel{
	font-size:15px;
}
.shopname{
	text-align:center;
	color:rgba(247,249,150,1);
	font-weight:bold;
	letter-spacing: 3px;
}
.footerinfo{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin-top:30px;
}
.subscription{
	position:relative ;
	height:36px;
}
.subscription div{
	box-sizing:content-box;
}
.subscription input{
	height:36px ;
	border:none;
}
.subscription button{
	position:absolute ;
	width:36px ;
	height:36px ;
	border:none;
	border-radius:2px;
	background:rgba(247,249,150,0.6);
	margin:0;
	display:inline;
}
.footermenupoint{
	display:flex;
	flex-direction:column;
}
.footermenupoint>a{
	text-decoration:none;
	color:inherit;
}
.footermenupoint :hover{
	color:rgba(247,249,150,0.6);
}
.copyright{
	text-align:center;
	height:40px;
	color:rgb(255,255,255,0.6);
	border-top:1px solid rgb(255,255,255,0.3);
	padding-top: 20px;
}
footer .address::before{
	font-family:'icomoon';
	content: "\e947";
	margin:5px;
}
.tel::before{
	font-family:'icomoon';
	content: "\e942";
	margin:6px;
}
.mail::before{
	font-family:'icomoon';
	content:"\e945";
	margin:5px;
}

/* catalog */
.catalog{
	display: flex;
	gap: 8px;

}
.cat_unit{
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}
.cat_part{
	height: 250px;
	width: 200px;
}
.cat_button{
	width: 150px;
    margin: 5px auto 0;
    border: none;
    background: rgba(112,171,151,0.5);
    border-radius: 2px;
}
.cat_img{
	object-fit: cover;
	height: 200px;
	width: 200px;
}
/*aside*/
aside{
	flex:none;
	width: 300px;
	background:rgba(247,249,150,0.6);
	border-radius:20px;
}
.catmenu {
	padding: 30px 40px;
}
.catmenu_item {
	padding: 15px 20px 15px;
	position: relative;
	border-bottom: 1px solid rgb(112,171,151);
}
.catmenu_item:before {
	color:rgb(112,171,151);
	position: absolute;
	left: 0;
}
.catmenu_item a {
	display: block;
	color: rgb(112,171,151);
	text-decoration: none;
}
.catmenu_item a:hover {
	text-decoration: underline;
}
.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	margin: 15px;
	cursor: pointer;
	transition: all 1s ease;
	color: rgb(112,171,151);
}
.open .submenu_mover {
	transform: rotate(180deg);
}
.submenu {
	height: 0;
	overflow: hidden;
}
.submenu a {
	position: relative;
	padding-left: 20px;
}
.submenu a:before {
	position: absolute;
	left: 0;
}

/*order*/
.order {
	width: 100%;
}
.nihil {
	display: none;
}
.empty .nihil {
	display: block;
}
.empty .table,
.empty #orderdata {
	display: none;
}
.rub:after, .sum:after, .allsum:after {
	content: ' \20bd';
}
.num input {
	border: 0;
	width: 50px;
}
.del {
	width: 60px;
}
.del > div {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	font: normal 24px/24px Arial;
	transform: rotate(45deg);
	transform-origin: center;
	background: red;
	color: white;
	cursor: pointer;
}
#name, #date, #address, #email{
	display:block;
	margin:15px;
	padding:0;
	width:200px;
}
.orderdata input, button, textarea{
	display:block;
	margin:15px;
	padding:0;
	width:200px;
}
#order-but{
	background:rgb(112,171,151);
	border:none;
	border-radius:2px;
	height:24px;
}
/*calendar*/
.popup table{
	width:240px;
}
.popup .header{
	text-align:center;
	display:flex;
	justify-content:space-between;
}
.popup .header > span{
	cursor:pointer;
	font-weight:bold;
}
.popup td:hover{
	color:red;
	cursor: default;
	background:rgb(112,171,151);
	cursor:pointer;
}
/*product*/
.pro{
	display:flex;
	gap:8px;
}
.product {
	width: 100%;
	margin-left:30px;
}
.gallery-desk {
	width: 530px;
	float: left;
	margin-right: 10px;
}
.main-image {
	padding: 24px;
	background: #fff;
	border: 1px solid gray;
	border-radius: 25px;
}
.main-image img{
	width:480px;
}
.gallery {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.small-image {
	width: 170px;
	padding: 4px;
	background: #fff;
	border: 1px solid gray;
	border-radius: 5px;
}
/*contacts*/
.container.contacts{
	padding-left:100px;	
}
.c-info{
	margin:20px 0;
}
.map{
	margin:20px 0;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tgz14j');
  src:  url('../fonts/icomoon.eot?tgz14j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tgz14j') format('truetype'),
    url('../fonts/icomoon.woff?tgz14j') format('woff'),
    url('../fonts/icomoon.svg?tgz14j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
